<h1 class="header center">My Resume</h1>
<div class="row">
    <div class="col s12 " >
        <div class="row">
            <h4 class="center-align"><a ng-model="showExp" ng-click="showExp=!showExp"><i class="small material-icons" ng-show="showExp">expand_more</i><i class="small material-icons" ng-show="!showExp">chevron_right</i></a>Experience</h4>
        </div>
        <div ng-show="showExp">
            <div class="row center-align">
                    <div class="col s4 ">
                        <p>Xtreme Consulting Group Inc</p>
                        <p>Business Systems Analyst II - IT Finance</p>
                    </div>
                    <div class="col s4">
                        <p>Portland, Oregon</p>
                        <p>May 2015 - Present</p>
                    </div>
                    <div class="col s4">
                            <a href="http://xtremeconsulting.com/"><img src="media/xtremelogo.jpg" width="50%"></a>
                        </div>        

            </div>
            
            <div class="row">
                <div class="col s8 offset-s2">
                    <p>Developer and Support for IBM Business Process Manager Workflow applications.</p>
                    <ol>
                        <li>Develop enhancements in an Agile team supporting DTNA’s Contract Management System</li>
                        <li>Primary support for DTNA's Budget Approval application, serving over 5000 users</li>
                        <li>Experience developing with Eclipse based tools</li>
                        <li>Collaboration with offshore teams to provide around the clock support and development</li>                                                                    
                    </ol>

                    <p>Web Developer for DTNA Finance’s internal website</p>
                    <ol>                        
                        <li>Built angularJS web app to organize department information</li> 
                        <li>Incorporated Bootstrap 3 for responsive UI</li>                           
                    </ol>

                    <p>SharePoint Developer providing development and support of sites and Nintex workflow applications. </p>
                    <ol>
                        <li>1st and 2nd tier support for 15+ sites and workflows serving over 1000 users</li>
                        <li>Provide custom solutions using Nintex Workflow and the JavaScript Client Side Object Model</li>
                        <li>Independently developed an approval system for corporate credit card use, an issue/enhancement tracking system, and an IT team management solution.</li>
                        <li>Conduct meetings with business stakeholders to ensure alignment with departmental IT strategy</li>
                        <li>Produce technical and user documentation for all finance SharePoint applications</li>
                    </ol>
                </div>
            </div>
        
            <div class="row center-align">
                    <div class="col s4 ">
                        <p>Daimler Trucks North America</p>
                        <p>Business Systems Analyst Intern</p>
                    </div>
                    <div class="col s4">
                        <p>Portland, Oregon</p>
                        <p>June 2014 - December 2014</p>
                    </div>
                    <div class="col s4">
                            <a href="https://daimler-trucksnorthamerica.com/"><img src="media/Daimlerlogo.svg" width="50%"></a>
                        </div>        

            </div>
            <div class="row">
                    <div class="col s8 offset-s2">
                        <p>Anaylst supporting DTNA's Vehicle Warranty System</p>
                        <ol>
                            <li>Conducted requirements analysis with business users to determine needs and wants</li>
                            <li>Translated business requirements into technical specifications with functional design documents</li>    
                            <li>Coordinated a three month team-building competition with a $1000 budget and 50 participants</li>
                        </ol>
                    </div>
                </div>
            </div>
    </div>
</div>
<div class="divider"></div>
<div class="row">
        <div class="col s12 center-align" >
                <h4 class=""><a ng-model="showEdu" ng-click="showEdu=!showEdu"><i class="small material-icons" ng-show="showEdu">expand_more</i><i class="small material-icons" ng-show="!showEdu">chevron_right</i></a>Education</h4>
                <div ng-show="showEdu">
                <div class="row">
                    <div class="col s4">
                        <p>Oregon State University</p>
                        <p>B.S. in Business Information Systems</p>
                    </div>
                    <div class="col s4">
                        <p>Corvallis, Oregon</p>
                        <p>Graduated June 2014</p>
                    </div>
                    <div class="col s4">
                            <a href="http://business.oregonstate.edu/"><img src="media/osulogo.jpg" width="50%"></a>
                        </div>
                </div>
                <div class="row">
                        <div class="col s4 ">
                            <p>Aarhus University</p>
                            <p>International Business Option</p>
                        </div>
                        <div class="col s4 ">
                            <p>Aarhus, Denmark</p>
                            <p>Fall 2014</p>
                        </div>
                        <div class="col s4">
                                <a href="http://bss.au.dk/en/"><img src="media/aulogo.jpg" width="50%"></a>
                            </div>
                    </div>
                    <div class="row">
                            <div class="col s4 ">
                                <p>Nankai University</p>
                                <p>Chinese Language Program</p>
                            </div>
                            <div class="col s4 ">
                                <p>Tianjin, China</p>
                                <p>Summer 2012</p>
                            </div>
                            <div class="col s4">
                                    <a href="http://www.intostudy.com/en-gb/universities/nankai-university"><img src="media/nankai-logo.jpg" width="50%"></a>
                                </div>
                        </div>    
                </div>
            </div>
        </div>
    <div class="divider"></div>
<div class="row">
        <div class="col s12 center-align" >
                <h4><a ng-model="showSkills" ng-click="showSkills=!showSkills"><i class="small material-icons" ng-show="showSkills">expand_more</i><i class="small material-icons" ng-show="!showSkills">chevron_right</i></a>Skills</h4>
                <div ng-show="showSkills">
                    <ol>
                        <li>Robust interpersonal skills with experience supporting all management levels</li>
                        <li>Ability to effectively communicate technical concepts with business stakeholders</li>
                        <li>Persistent problem solver with an investigative approach</li>         
                        <li>Versility to develop/support on multiple platforms serving different business units</li>
                    </ol>
                </div>
            </div>
        
</div>
<div class="divider"></div>
<div class="row">
        <div class="col s12 center-align" >
                <h4><a ng-model="showExpertise" ng-click="showExpertise=!showExpertise"><i class="small material-icons" ng-show="showExpertise">expand_more</i><i class="small material-icons" ng-show="!showExpertise">chevron_right</i></a>Expertise</h4>
                <div ng-show="showExpertise">
                    <ol>
                        <li>Involvement in all stages of SDLC using waterfall and agile methods</li>
                        <li>Experience with data integration using JDBC and REST APIs</li>
                        <li>Extensive experience modeling processes with BPMN 2.0</li>
                        <li>Strong SQL skills</li>
                    </ol>
                </div>
        </div>
</div> 